<ul class="pagination justify-content-center">
  <li
    class="page-item"
  >
    <a class="page-link" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li class="page-item active" onclick="PaginationComponent.changePagination( this, 0 )">
    <a class="page-link">1</a>
  </li>
  <li class="page-item" onclick="PaginationComponent.changePagination( this, 1 )">
    <a class="page-link">2</a>
  </li>
  <li class="page-item" onclick="PaginationComponent.changePagination( this, 2 )">
    <a class="page-link">3</a>
  </li>
  <li
    class="page-item"
  >
    <a class="page-link" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
