<div class="modal fade modal-users">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal personalizado</h5>
        <button type="button" class="btn-close" onclick="usersComponent.closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>prueba de desarrollo</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="usersComponent.closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>
