<!-- form-user -->
<form noValidate  class="form" name="formClients">
  <div class="modal fade modal-clients">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button
              type="button"
              class="btn-close"
              onclick="ModalClientComponent.closeModal()"
            ></button>
          </div>

          <div class="modal-body ps-5 pe-5">
            
            <div class="mb-3 row">
              <!-- nombre cliente -->
              <label for="name-client" class="col-form-label col-4">Nombre cliente:</label>
              <div class="col-8">
                <input type="text" id="name-client" name="nombre_cliente" class="form-control" />
                <div class="invalid-feedback text-center" id="error-name"></div>
              </div>
            </div>


            <div class="mb-3 row">
              <!-- rif -->
              <label for="rif-client" class="col-form-label col-4">
                Registro de Identificación Fiscal (RIF):
                <i 
                  class="fas fa-question-circle text-secondary info-question"
                  data-bs-toggle="tooltip" 
                  data-bs-placement="bottom" 
                  title="El número de indentificación debe colocarse de la siguiente forma: J-12345678-9 o G-12345678-8 o V-12345678-2"
                  id="info-rif"  
                ></i>
              </label>
              <div class="col-8">
                <input type="text" id="rif-client" name="rif" class="form-control" />
                <div class="invalid-feedback text-center" id="error-rif"></div>
              </div>
            </div>

            <div class="mb-3 row">
              <!-- direccion cliente -->
              <label for="direction-client" class="col-form-label col-4">Dirección:</label>
              <div class="col-8 only-new">
                <input class="form-control" type="text" name="direccion_entrega" id="direction-client" />
                <div class="invalid-feedback text-center" id="error-direction"></div>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="phone-client" class="col-form-label col-4">Teléfono cliente:</label>
              <div class="col-8">
                <input type="email" id="phone-client" name="telefono_contacto" class="form-control" />
                <div class="invalid-feedback text-center" id="error-phone"></div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="ModalClientComponent.resetFields( true )"
            >Limpiar</button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>
      </div>
    </div>
  </div>
</form>
