
<!-- /* web-component create-app-cli */ -->
<template id="modal">
	<div class="modal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">
	        	<slot name="modal-title">modal-header</slot>
	        </h5>
	        <button type="button" class="btn-close close"></button>
	      </div>
	      <div class="modal-body">
	        <slot name="modal-body">modal-body</slot>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary close">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>	
</template>
