<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Mitigacion de cross site scripting -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <link rel="stylesheet" href="products.css">
  <title>Gestion de productos</title>
</head>
<body>
	<main class="container p-3">

		<div class="d-flex flex-column justify-content-start h-100">
			
			<div class="d-flex border-bottom flex-row pb-1 justify-content-between align-items-center">
	  		
        <h2 class="d-flex flex-row">
          <i class="fas fa-arrow-circle-left point" onclick="redirectTo('../home/home.html')"></i>
          <span class="ml-3 category">Gestión de Categorías</span>
          <span class="ml-3 products">Gestión de Productos</span>
        </h2>

        <button class="btn btn-success btn-sm category" onclick="productsComponent.addProduct();">
          <i class="fas fa-plus"></i>
          Añadir categoría
        </button>
        
        <button class="btn btn-success btn-sm products" onclick="productsComponent.addProduct();">
          <i class="fas fa-plus"></i>
          Añadir producto
        </button>
			</div>

      <ul class="nav justify-content-center mt-3">
        <li class="nav-item">
          <a class="nav-link point" onclick="productsComponent.changeView('category')">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link point" onclick="productsComponent.changeView('products')">Productos</a>
        </li>
      </ul>

      <!-- <p class="text-center mt-3">Se recomienda antes de incluir productos, añadir al menos una categoría</p> -->

			<!--<div class="row justify-content-between p-3 text-center">
				<div class="col-sm-6">Cantidad total de productos: <span id="totalProducts"></span></div>
				<div class="col-sm-6">Cantidad de productos disponibles: <span id="availableProducts"></span></div>
			</div> -->

      <div class="row justify-content-end">
        <div class="form-group w-25 p-0">
          <input
            type="text"
            placeholder="Buscar ..."
            class="form-control form-control-sm"
          />
        </div>
  			<div class="table-responsive w-100">
  				<table class="table table-striped">
        		<thead>
        			<tr class="text-center">
        				<th>Codigo:</th>
        				<th>Nombre:</th>
        				<th>Categoria:</th>
        				<th>Cantidad:</th>
        				<th>Precio unitario:</th>
        				<th>Disponibilidad:</th>
        				<th>Acciones</th>
        			</tr>
        		</thead>	
        		<tbody id="tbody-products"></tbody>
        	</table>
  			</div>
      </div>

			<nav aria-label="Table navigation" id="pagination" class="mt-2">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

		</div>
    <script src="../global.js"></script>
		<script src="products.hardcode.js"></script>
		<script src="products.js"></script>
	</main>
</body>
</html>