<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nota de Entrega</title>
    <!-- Mitigacion de cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="orders.css">
</head>
<body>
	<!-- <nav></nav> -->
	<main class="container p-3 h-100">

    <div class="d-flex flex-row justify-content-between border-bottom">
      <h2>
        <i class="fas fa-arrow-circle-left point" onclick="redirectTo('../home/home.html')"></i>
        <span class="ml-3">Notas de entrega</span>
      </h2>
    </div>

	</main>
  <script src="../global.js"></script>
	<script src="../products/products.hardcode.js"></script>
  <script src="orders.js"></script>
</body>
</html>
