<div class="row justify-content-end">
  <div class="form-group w-25 p-0">
    <input
      type="text"
      placeholder="Buscar ..."
      class="form-control form-control-sm"
    />
  </div>
	<div class="table-responsive w-100">
		<table class="table table-striped">
  		<thead>
  			<tr class="text-center">
  				<th>Codigo:</th>
  				<th>Nombre:</th>
  				<th>Descripcion:</th>
  				<th>Creado por:</th>
          <!-- <th>Imagen</th> -->
  				<th>Activo:</th>
  				<th>Acciones</th>
  			</tr>
  		</thead>	
  		<tbody id="tbody-categories"></tbody>
  	</table>
	</div>
</div>

<nav aria-label="Table navigation" id="pagination" class="mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>