<search-bar-component from="categories"></search-bar-component>
<div class="row justify-content-end">
	<div class="table-responsive w-100">
		<table class="table table-striped">
  		<thead>
  			<tr class="text-center">
  				<th>Codigo:</th>
  				<th>Nombre:</th>
  				<th>Descripcion:</th>
  				<th>Creado por:</th>
          <th>Activo:</th>
          <th>Imagen</th>
  				<th>Acciones</th>
  			</tr>
  		</thead>
  		<tbody id="tbody-categories"></tbody>
  	</table>
	</div>
</div>
<div class="row pt-2">
  <div class="col-sm-6 col-12 text-start">
    Total de usuarios registrados: <span id="totalCategory"></span>
  </div>
  <div class="col-sm-6 col-12 text-end">
    Página actual: <span id="paginationValue"></span> de <span id="paginationEnd"></span>
  </div>
</div>

<nav aria-label="Table navigation" id="pagination" class="mt-2"></nav>
