<search-bar-component from="categories"></search-bar-component>
<div class="row justify-content-end">
	<div class="table-responsive w-100">
		<table class="table table-striped">
  		<thead>
  			<tr class="text-center">
  				<th>Codigo:</th>
  				<th>Nombre:</th>
  				<th>Descripcion:</th>
  				<th>Creado por:</th>
          <th>Activo:</th>
          <!-- <th>Imagen</th> -->
  				<th>Acciones</th>
  			</tr>
  		</thead>
  		<tbody id="tbody-categories"></tbody>
  	</table>
	</div>
</div>
<pagination-component id="pagination-categories" from="categories"></pagination-component>
