<!DOCTYPE html>
<html lang="es-VE">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Products app</title>
    <!-- Mitigacion de cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../orders.css" />
    <link rel="stylesheet" href="./orders-form.css" />
    <script src="../../components/searchbar-component.js"></script>
    <script src="../../components/pagination-component.js"></script>
    <script src="../../components/loading-component.js"></script>
  </head>
  <body>
    <loading-component class="loading" show="true"></loading-component>
    <main class="container p-3 h-100">
      <div class="d-flex flex-row justify-content-between border-bottom">
        <h2>
          <i class="fas fa-arrow-circle-left point" onclick="redirectTo('../orders.html');"></i>
          <span class="ms-3" id="title"></span>
        </h2>
      </div>
      <form name="note-form">
        <div class="row">
          <div class="col-12">

            <div class="form-group">
              <label for="delivery-description" class="form-label">Descripcion de la entrega:</label>
              <input name="delivery-description" id="delivery-description" class="form-control" />
              <div class="invalid-feedback text-center" id="error-delivery-description"></div>
            </div>

            <div class="form-group date-state" style="display: none;">
              <label for="delivery-date" class="form-label">Fecha de entrega</label>
              <input readonly type="date" id="delivery-date" name="delivery-date" class="form-control" />
              <div class="invalid-feedback text-center" id="error-delivery-date"></div>
            </div>

            <div class="form-group select-state" style="display: none;">
              <label for="delivery-state" class="form-label">Estado de la entrega</label>
              <select name="delivery-state" id="delivery-state" class="form-control">
                <option value="EN_PROCESO" selected>En proceso</option>
                <option value="ACEPTADO">Aceptado</option>
                <option value="ENTREGADA">Entregada</option>
                <option value="CANCELADA">Cancelada</option>
                <option value="POSPUESTO">Pospuesto</option>
              </select>
            </div>

          </div>
        </div>

        <!-- productos-table -->
        <div class="row mt-5">

          <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span>Clientes</span>
              <button class="btn btn-success btn-sm" type="button" onclick="ordersForm.selectClients()">
                <i class="fas fa-plus"></i>
                Seleccionar
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="text-center">
                    <th>Id</th>
                    <th>Nombre Cliente</th>
                    <th>Rif</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody id="table-clients-selected"></tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span>Productos</span>
              <button class="btn btn-success btn-sm" onclick="ordersForm.selectProducts()" type="button">
                <i class="fas fa-plus"></i>
                Seleccionar
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="text-center">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody id="table-products-selected"></tbody>
                  <tfoot>
                    <tr class="text-end">
                      <td colspan="4"></td>
                      <td colspan="1" id="totalOrder"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex w-100 justify-content-center mt-5 pb-4">
          <button type="reset" class="btn btn-secondary" style="margin-right: 20px">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="submit-button">Aceptar</button>
          <button
            class="btn btn-primary"
            style="display: none;"
            type="submit"
            disabled
            id="load-button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
            Aceptar
          </button>
        </div>
      </form>

    </main>
    <footer id="footer"></footer>
    <script src="../../global.js"></script>
    <script src="./orders-form.js"></script>
  </body>
</html>
