<!DOCTYPE html>
<html lang="es-VE">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Products app</title>
    <!-- Mitigacion de cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../orders.css">
    <!-- <script src="../components/searchbar-component.js"></script>
    <script src="../components/pagination-component.js"></script> -->
  </head>
  <body>
    <main class="container p-3 h-100">
      <div class="d-flex flex-row justify-content-between border-bottom">
        <h2>
          <i class="fas fa-arrow-circle-left point" onclick="back()"></i>
          <span class="ml-3" id="title"></span>
        </h2>
      </div>
    </main>
    <script src="../../global.js"></script>
    <script type="text/javascript" src="./orders-form.js"></script>
  </body>
</html>
