<search-bar-component from="users"></search-bar-component>
<div class="row justify-content-sm-end justify-content-center">

  <!-- table -->
  <div class="table-responsive w-100">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>Id:</th>
          <th>Nombre:</th>
          <th>Apellido:</th>
          <th>Correo:</th>
          <th>Área:</th>
          <th>Activo en la app:</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tbody-user"></tbody>
    </table>
  </div>
</div>
<pagination-component id="pagination-users" from="users"></pagination-component>
