/* Librerias y Frameworks */
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
	--success-color: seagreen;
	--main-color: #e8e8e8;
	--inverse-main: #171a1c;
}

body {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background: var(--main-color);
	color: black;
}

.point {
	cursor: pointer;
}

/* forms */
.input-search {
	border-radius: 20px;
	padding: 0 20px;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.btn-success {
	background: var(--success-color);
}

.fa-arrow-circle-left {
	color: var(--bs-secondary);
}
