/* Librerias y Frameworks */
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
	--success-color: seagreen;
	--main-color: #e8e8e8;
	--inverse-main: #171a1c;
}

body {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background: var(--main-color);
	color: black;
}

.point {
	cursor: pointer;
}

/* forms */
.input-search {
	border-radius: 20px;
	padding: 0 20px;
}

.table-responsive {
	background: #fff;
	border-radius: 5px;
}


.hide {
	display: none !important;
}

.show {
	display: initial !important;
}

.btn-success {
	background: var(--success-color);
}

.fa-arrow-circle-left {
	color: var(--bs-secondary);
}

.card-foto {
	width: 200px;
	height: 90px;
	background: var(--main-color);
}

.pagination a {
	cursor: pointer;
}

.loading {
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100vw;
}

.loading .back {
	background-color: black;
	opacity: 0.2;
}

.loading .cont i {
	color: white !important;
}