@import '../global.css';

main {
	height: 100%;
	background-image: url(../assets/img/warehouse.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

main h1 {
	font-weight: lighter;
}

label {
	font-size: 16px;
}

form {
	margin:  0 20px;
}

form .row {
	margin-bottom: 20px;
}

.form-control {
	border: none !important; 
}

.invalid-feedback {
	display: none;
}

button {
	width: 40% !important;
	border-radius: 5px !important;
}


div.login-container {
	width: 45%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 25px;
	padding: 30px;
}

@media screen and (max-width: 920px) {
	div.login-container {
		width: 65%;
	}
}

div.login-container .btn-secondary, 
div.login-container .btn-primary {
	background: transparent;
	border: none;
}


div.login-container .btn-secondary:active, 
div.login-container .btn-primary:active,
div.login-container .btn-secondary:focus, 
div.login-container .btn-primary:focus {
	border: none;
	box-shadow: none;
}

div.login-container .btn-secondary:hover {
	color: var(--bs-secondary);
}

div.login-container .btn-primary:hover {
	color: var(--bs-primary);
}

footer p {
	font-weight: bold;
}