<search-bar-component from="clients"></search-bar-component>
<div class="row justify-content-sm-end justify-content-center">

  <!-- table -->
  <div class="table-responsive w-100">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>Id:</th>
          <th>Nombre Cliente:</th>
          <th>Rif:</th>
          <th>Direccion:</th>
          <th>Telefono:</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tbody-client"></tbody>
    </table>
  </div>
</div>
<pagination-component id="pagination-clients" from="clients"></pagination-component>
