<!-- import an export products -->
<link rel="stylesheet" href="components/export/export-component.css" />
<div class="d-flex justify-content-center mt-3 mb-3 import-module">
	<div class="card w-100">
		<div class="card-header">
			<span>Opciones avanzadas</span>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-md-6 import-column">
					<i class="fas fa-file-import text-muted fa-4x"></i>
					<p class="text-muted text-center">Importa desde un formato JSON o excel</p>
				</div>
				<div class="col-12 col-md-6 export-column">
					<i class="fas fa-file-export text-muted fa-4x"></i>
					<p class="text-muted text-center">Exporta desde un formato JSON o excel</p>
				</div>
			</div>
		</div>
	</div>
</div>