<form novalidate name="category-form">
  <div class="modal fade" tabindex="-1" id="category-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <!-- card-image -->
          <div class="d-flex justify-content-center align-items-center flex-column">

            <!-- default -->
            <div
              class="card card-foto point"
              onclick="openImageDialog()"
              id="image-default"
            >
              <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                <i class="fas fa-camera" style="font-size: 24px;"></i>
              </div>
            </div>

            <!-- image loaded -->
            <div
              id="image-container"
              onclick="openImageDialog()"
              class="card card-foto point"
            ></div>
            <input type="text" name="category-image" id="category-image" hidden />
            <p class="text-danger mt-2" style="font-size: 12px;" id="error-file"></p>

          </div>


          <div class="row mt-3">

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="category-name">Nombre:</label>
                <input type="text" class="form-control" name="category-name" id="category-name" />
                <div class="invalid-feedback text-center" id="error-category-name"></div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="category-description">Descripción:</label>
                <input class="form-control" name="category-description" id="category-description" type="text" />
                <div class="invalid-feedback text-center" id="error-category-description"></div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="resetForm( true )">Limpiar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>
