<div class="modal" id="modal-clients" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive w-100">
          <table class="table table-striped">
            <thead class="text-center">
              <th>Id:</th>
              <th>Nombre cliente:</th>
              <th>Rif:</th>
              <th>Seleccione:</th>
            </thead>
            <tbody id="tbody-clients"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="submit-button">Seleccionar</button>
      </div>
    </div>
  </div>
</div>
