<!-- form-user -->
<form noValidate  class="form" name="formUsers">
  <div class="modal fade modal-users">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button
              type="button"
              class="btn-close"
              onclick="ModalUserComponent.closeModal();"
            ></button>
          </div>

          <div class="modal-body ps-5 pe-5">

            <!-- nombre -->
            <div class="mb-3 row">
              <label for="name-user" class="col-form-label col-4">Nombre:</label>
              <div class="col-8">
                <input type="text" id="name-user" name="nombre" class="form-control" />
                <div class="invalid-feedback text-center" id="error-name"></div>
              </div>
            </div>
            
            <!-- apellido -->
            <div class="mb-3 row">
              <label for="surname-user" class="col-form-label col-4">Apellido:</label>
              <div class="col-8">
                <input type="text" id="surname-user" name="apellido" class="form-control" />
                <div class="invalid-feedback text-center" id="error-surname"></div>
              </div>
            </div>

            <!-- correo -->
            <div class="mb-3 row">
              <label class="col-form-label col-4" for="user-email">Correo:</label>
              <div class="col-8">
                <input type="email" id="user-email" name="correo" class="form-control" />
                <div class="invalid-feedback text-center" id="error-email"></div>
              </div>
            </div>

            <!-- area -->
            <div class="mb-3 row">
              <label class="col-form-label col-4" for="area-user">Área:</label>
              <div class="only-new col-8">
                <select class="form-control" id="area-user" name="area">
                  <option value="">Seleccione</option>
                  <option value="Ventas">Ventas</option>
                  <option value="Almacen">Almacén</option>
                  <option value="Administracion">Administración</option>
                </select>
                <div class="invalid-feedback text-center" id="error-area"></div>
              </div>
            </div>


            <!-- contraseña -->
            <div class="mb-3 row">
              <label class="col-form-label col-4" for="password">Contraseña:</label>
              <div class="only-new col-8">
                <input class="form-control" type="password" name="password" id="password-user" />
                <div class="invalid-feedback text-center" id="error-password"></div>
              </div>
            </div>

          
            <!-- confirmar contraseña -->
            <div class="mb-3 row">
              <label class="col-form-label col-4" for="password">Confirmar contraseña:</label>
              <div class="only-new col-8">
                <input
                  class="form-control"
                  type="password"
                  name="password-confirmation"
                  id="password-confirmation-user"
                />
                <div class="invalid-feedback text-center" id="error-password-confirmation"></div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              onclick="ModalUserComponent.resetFields( true );"
              class="btn btn-secondary"
            >Limpiar</button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>
      </div>
    </div>
  </div>
</form>
