<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Products app</title>
  <!-- Mitigacion de cross site scripting -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <link rel="stylesheet" href="./home.css">
  <script src="../components/loading-component.js"></script>
</head>
<body>
	<loading-component class="loading" show="false"></loading-component>
	<main class="container p-3 h-100">
		<div>
			<div class="border-bottom d-flex justify-content-between align-items-center">
				<h2>Products-app</h2>
        <div class="">
          <i
            class="fas fa-user point me-4 p-0"
            style="font-size: 24px"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Editar mi perfil"
            onclick="profileModalComponent.openModalProfile()"
            >
          </i>
          <i
            class="fas fa-sign-out-alt point p-0"
            onclick="homeComponent.logOut()"
            style="font-size: 24px"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Salir"
            >
          </i>
        </div>
			</div>
			<article class="fst-italic fw-lighter text-center text-center p-3">
				"Bienvenido a products app, tu herramienta de Gestión, puedes consultar las
				diferentes opciones de tu aplicación seleccionando una de las tarjetas. las cifras representan
				la cantidad actual de registros en las diferentes áreas de tu negocio."
			</article>
		</div>

		<h4>Empecemos:</h4>

		<div class="mt-4 row justify-content-around">

			<div class="card point" id="users" onclick="homeComponent.openUsers()">
  			<div class="card-body text-center">
  				<div class="row justify-content-center align-items-center h-100">
	  				<i class="fas fa-user-circle"></i>
	    			<h4>Usuarios, clientes y proveedores</h4>
	    			<span></span>
  				</div>
  			</div>
			</div>

			<div class="card point" id="estadistics" onclick="homeComponent.openEstadistics()">
				<div class="card-body text-center">
					<div class="row justify-content-center align-items-center h-100">
						<i class="fas fa-chart-line"></i>
	    			<h4>Estadisticas y reportes</h4>
	    			<span></span>
  				</div>
  			</div>
			</div>



		</div>

		<div class="row justify-content-around mt-5">

			<div class="card point" id="orders" onclick="homeComponent.openOrders()">
				<div class="card-body text-center">
					<div class="row justify-content-center align-items-center h-100">
						<i class="fas fa-file"></i>
		    			<h4>Notas de entrega</h4>
		    			<span></span>
  					</div>
  				</div>
			</div>

			<div class="card point" onclick="homeComponent.openProducts()">
	  			<div class="card-body text-center">
	  				<div class="row justify-content-center align-items-center h-100">
	  					<i class="fas fa-boxes"></i>
		    			<h4>Productos y categorias</h4>
		    			<span></span>
	  				</div>
	  			</div>
			</div>

		</div>
	</main>
  <footer></footer>
	<script src="./../global.js"></script>
	<script src="home.js"></script>
</body>
</html>
