@import '../global.css';

body {
	overflow-y: auto !important;
	height: initial;
}

.column {
	height: inherit;
}

.card {
	width: 20rem;
}

.card > .card-body span {
	font-size: 24px;
	color: #007bff;
}

.card > .card-body h4 {
	font-weight: lighter;
	color: black;
}

i {
	color: #171a1c;
	font-size: 4rem;
	padding: 20px;
}

.fa-sign-out-alt {
	color: var(--bs-secondary);
}

svg {
	height: 100px !important;
	width: initial !important;
	margin-bottom: 20px;
}