<!DOCTYPE html>
<html>
<head>
	<base href="../">
	<meta charset="UTF-8">
	<title>Products app</title>
	<!-- Mitigacion de cross site scripting -->
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
	<link rel="stylesheet" href="home/home.css">
</head>
<body>
	<script src="components/card/card-component.js" defer></script>
	<script src="components/navbar-login/navbar-login-component.js" defer></script>
	<script src="components/modal/modal-component.js" defer></script>
	<app-navbar></app-navbar>
	<!--<app-modal>
		<h2 slot="modal-title">Editar usuario</h2>
		<p slot="modal-content">text</p>
	</app-modal> -->
	<main class="d-flex flex-column justify-content-between">
		<div class="container">
			<div class="row intro">
				<div class="col-6 align-self-center">
					<article class="fw-lighter text-center text-center pt-4">
						"Bienvenido a Products App, tu herramienta de Gestión, puedes consultar las
						diferentes opciones de tu aplicación seleccionando una de las tarjetas. las cifras representan
						la cantidad actual de registros en las diferentes áreas de tu negocio."
					</article>
				</div>
				<div class="col-6 d-flex justify-content-end">
					<img src="assets/img/home-preview.png" alt="logo" class="preview" />
				</div>
			</div>
		</div>

		<div class="container-fliud menu">
			<div class="container">
				<div class="grid-card">


					<app-card 
						class="point"
						color="var(--gradient-turquesa)"
						onclick="homeComponent.openOrders()"
					>
						<div class="content text-center text-white" slot="card-body">
							<div class="grid-card">
								<div class="align-self-center">
									<h4>Notas de entrega</h4>
									<p class="m-0 quantity"></p>
								</div>
								<div class="d-flex flex-column justify-content-center align-items-center">
									<i class="fas fa-file text-white"></i>
								</div>
							</div>
						</div>
					</app-card>
		
					<app-card 
						class="point"
						color="var(--gradient-morado)"
						onclick="homeComponent.openProducts()"
					>
						<div class="content text-center text-white" slot="card-body">
							<div class="grid-card">
								<div class="align-self-center">
									<h4>Productos y categorías</h4>
									<p class="m-0 quantity"></p>
								</div>
								<div class="d-flex flex-column justify-content-center align-items-center">
									<i class="fas fa-boxes text-white"></i>
								</div>
							</div>
						</div>
					</app-card>

					<app-card 
						class="point"
						color="var(--gradient-azul)"
						onclick="homeComponent.openEstadistics()"
					>
						<div class="content text-center text-white" slot="card-body">
							<div class="grid-card">
								<div class="align-self-center">
									<h4>Estadísticas y reportes</h4>
									<p class="m-0 quantity"></p>
								</div>
								<div class="d-flex flex-column justify-content-center align-items-center">
									<i class="fas fa-chart-line text-white"></i>
								</div>
							</div>
						</div>
					</app-card>

					<app-card 
						color="var(--gradient-rosa)"
						class="point"
						onclick="homeComponent.openUsers()"
					>
						<div class="content text-center text-white" slot="card-body">
							<div class="grid-card">
								<div class="align-self-center">
									<h4>Usuarios clientes y <br /> proveedores</h4>
									<p class="m-0 quantity"></p>
								</div>
								<div class="d-flex flex-column justify-content-center align-items-center">
									<i class="fas fa-user-circle text-white"></i>
								</div>
							</div>
						</div>
					</app-card>
			
				</div>
			</div>
		</div>
	</main>
  	<footer></footer>
	<script src="global.js"></script>
	<script src="home/home.js"></script>
</body>
</html>
