@import '../global.css';

body {
	overflow-y: auto !important;
	height: initial;
}

.column {
	height: inherit;
}

.card {
	width: 20rem;
}

.card > .card-body span {
	font-size: 24px;
	color: #007bff;
}

.card > .card-body h4 {
	font-weight: lighter;
	color: black;
}

/*.card-body {
	background: white;
}*/

i {
	color: #171a1c;
	font-size: 4rem;
	padding: 20px;
}

.fa-sign-out-alt, .fa-user {
	color: var(--bs-secondary);
}

svg {
	height: 100px !important;
	width: initial !important;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}


app-card .content {
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

app-card i {
	font-size: 100px;
	padding: 0;
	opacity: 0.5;
}


app-card .grid-card {
	display: grid;
	grid-template-columns: 70% 1fr;
	gap: 0;
}

.grid-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 30px;
}
