<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Products app</title>
    <!-- Mitigacion de cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
	<main class="row justify-content-center align-items-center">
		
		<div class="container w-50">
			<h1 class="text-center mb-5">Products-app</h1> 
			
			<form name="login-form" novalidate>
				<div class="row">
					<div class="col-4">
						<label class="col-form-label" for="correo-login">Usuario:</label>
					</div>
					<div class="col-8">
						<input type="email" id="correo-login" name="correo" class="form-control" />	
						<div class="invalid-feedback text-center" id="error-correo"></div> <!-- errors -->
					</div>
				</div>
				
				<div class="row">
					<div class="col-4">
						<label for="password-login" class="col-form-label">Contraseña:</label>
					</div>
					<div class="col-8">
						<input type="password" id="password-login" name="password" class="form-control" />
						<div class="invalid-feedback text-center" id="error-password"></div> <!-- errors -->
					</div>
				</div>
				
				<div class="mt-5 d-flex flex-row justify-content-around">
					<button class="btn btn-primary" type="submit" id="btn-submit">
						Enviar
					</button>
					<button 
						class="btn btn-primary" 
						style="display: none;" 
						type="submit" 
						id="btn-submit-disabled"
						disabled 
					>
						<i class="fas fa-spinner fa-pulse"></i>
						Enviar
					</button>
					<button class="btn btn-secondary" type="button" onclick="resetLoginForm( true )">
						Cancelar
					</button>
				</div>
			</form>	

		</div>
	</main>

	<footer class="p-2">
		<div class="row justify-content-center">
			Bran-bit-lab &copy 2021
		</div>
	</footer>
  <script src="login.js"></script>
</body>
</html>
