<form name="user-change-role-form" class="form" novalidate>
  <div class="modal fade modal-role">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title-modal-role"></h5>
            <button type="button" class="btn-close" onclick="modalChangeRole.closeModalRole();"></button>
          </div>
          <div class="modal-body">
            <p>Seleccione a que rol desea asignar al usuario:</p>
            <div class="form-check">
              <input type="radio" name="role" value="Administracion" class="form-check-input" id="admin">
              <label for="admin" class="form-check-label">Administración</label>
            </div>
            <div class="form-check">
              <input type="radio" name="role" value="Ventas" class="form-check-input" id="sales">
              <label for="sales" class="form-check-label">Ventas</label>
            </div>
            <div class="form-check">
              <input type="radio" name="role" value="Almacen" class="form-check-input" id="storage">
              <label for="storage" class="form-check-label">Almacén</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Cancelar</button>
            <button type="submit" class="btn btn-primary">Actualizar rol</button>
          </div>
      </div>
    </div>
  </div>
</form>
            