@import '../global.css';

body {
	height: 100% !important;
	overflow-y: auto !important;
}

.nav-link {
	border: none;
}

#info {
	display: none;
}

.btn-info {
	color: #fff;
}

.btn-info:hover {
	color: #fff;
}

.btn-info:focus {
	color: #fff;
}

.table-responsive {
	background: #fff;
	border-radius: 5px;
}

.card {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.form-group {
	margin-bottom: 20px !important;
}

.form-group, label {
	/*font-weight: bold;*/
	font-size: 14px;
	margin-bottom: 5px;
}

.ml-3 {
	margin-left: 20px;
}

label[for="rif-client"] {
	position: relative;
}

.info-question {
	position: absolute;
	font-size: 11px;
	left: 48%;
	top:  58%;
}
