@import '../global.css';

body {
	height: 100% !important;
	overflow-y: auto !important;
}

#info {
	display: none;
}

.btn-info {
	color: #fff;
}

.btn-info:hover {
	color: #fff;
}

.btn-info:focus {
	color: #fff;
}

.table-responsive {
	background: #fff;
	border-radius: 5px;
}

.card {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
