<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Mitigacion de cross site scripting -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <link rel="stylesheet" href="users.css">
  <title>Products app</title>
  <!-- se importan los web components antes de construir el body -->
  <script src="../components/searchbar-component.js"></script>
  <script src="../components/pagination-component.js"></script>
</head>
<body>
  <script src="../components/loading/loading-component.js" defer></script>
  <app-loading class="loading" show="true"></app-loading>
	<main class="container p-3 h-100">

		<div class="d-flex flex-column h-100 justify-content-start">

      <div class="w-100 d-flex border-bottom flex-row pb-1 justify-content-between align-items-center">

        <h2>
          <i class="fas fa-arrow-circle-left point" onclick="redirectTo('../home/home.html')"></i>
          <span class="ms-3 users">Gestión de usuarios</span>
          <span class="ms-3 clients">Gestión de clientes</span>
        </h2>

        <div>
          <button
            class="btn btn-success users btn-sm"
            onclick="ModalUserComponent.openModal('new')"
          >
            <i class="fas fa-plus"></i>
            Añadir usuario
          </button>
          <button
            class="btn btn-success clients btn-sm"
            style="border-radius: 3px;"
            onclick="ModalClientComponent.openModal('new')"
          >
            <i class="fas fa-plus"></i>
            Añadir cliente
          </button>
      		<!--<button
      			type="button"
      			class="btn btn-secondary btn-sm"
      			onclick="info.style.display = info.style.display === 'block' ? 'none' : 'block'"
      		>
      			<i class="fas fa-info-circle"></i>
            <span>Información</span>
      		</button> -->
        </div>
			</div>

    	<article class="row text-center mt-4" id="info">
    		En esta sección puedes modificar el acceso a los usuarios de la aplicación,
    		selecciona el usuario en la tabla y marca la opcion correspondiente, puedes
    		retirar el acceso, cambiar datos de usuarios y otorgar permisos elevados.
    	</article>

      <!-- tabs -->
      <div class="main-content mt-3">
        <ul class="nav nav-pills justify-content-center mt-3 mb-3" id="users-list">
          <li class="nav-item">
            <button
              class="nav-link point active btn-sm"
              href="#users"
              aria-name="users"
              aria-selected="true"
            >Usuarios</button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link point btn-sm"
              href="#clients"
              aria-name="clients"
            >Clientes</button>
          </li>
        </ul>

        <!-- tabla principal with tabs -->
        <div class="tab-content">
          <div class="tab-pane fade active show" id="users"></div>
          <div  class="tab-pane fade" id="clients">
            text-client
          </div>
        </div>
      </div>
		</div>
	</main>

  <!-- modals -->
  <footer id="modals"></footer>

  <!-- JS -->
  <script src="../global.js"></script> <!-- script global -->
	<script src="users.js"></script>
</body>
</html>
